body {
  margin:0;
  height:100vh;
}

header {
  text-align:center;
  background:#4CAF50;
  height:60px;
  line-height:60px;
}

h1 {
  font-family:'Roboto', sans-serif;
  font-weight:500;
  margin:0;
  color:#212121;
}

main {
  height:calc(100% - 60px);
  display:flex;
}

@media screen and (max-width:650px) {
  main {
    flex-direction:column-reverse;
  }
  #canvas-wrapper {
    max-height:50%;
  }
  .column:first-child {
    margin-right:50px;
  }
  .column:last-child {
    margin-left:50px;
  }
}

#settings {
  height:100%;
  background:yellow;
  flex-basis:0;
  flex-grow:1;
  overflow-y:auto;
}

#buttons {
  text-align:center;
  margin-top:30px;
  padding-bottom:30px;
  border-bottom:1px solid #9e9e9e;
}

button {
  font-size:1em;
  font-family:'Roboto', sans-serif;
  background:white;
  padding:5px;
  margin:5px;
}

button:active {
  box-shadow:inset 0 -2px 2px grey;
}

#settings h2 {
  font-family:'Roboto', sans-serif;
  font-weight:500;
  margin:0;
  margin-top:10px;
  text-align:center;
}

#columns {
  text-align:center;
  padding-bottom:30px;
}

.column {
  display:inline-flex;
  flex-direction:column;
}

@media screen and (min-width:1140px) {
  .column:first-child {
    margin-right:5px;
  }
  .column:last-child {
    margin-left:5px;
  }
}

@media screen and (min-width:1300px) {
  .column:first-child {
    margin-right:20px;
  }
  .column:last-child {
    margin-left:20px;
  }
}

.setting {
  max-width:100px;
  width:100px;
  margin-top:10px;
}
.setting h3 {
  margin:0;
  font-family:'Roboto', sans-serif;
  font-weight:500;
  text-align:left;
}
.setting input {
  width:100%;
}

#canvas-wrapper {
  flex-basis:0;
  flex-grow:4;
  background:lightgreen;
  min-width:0;
}

#canvas {
  display:block;
  width:100%;
  height:100%;
  margin:auto;
}
