body {
  margin:0;
  height:100vh;
}

header {
  height:60px;
  background:#26A65B;
  display:flex;
  flex-direction:column;
  align-items:center;
}

h1 {
  font-family:'Roboto', sans-serif;
  font-weight:500;
  margin:0;
  color:#fff;
}
header a {
  font-family:'Roboto', sans-serif;
  font-size:1.1em;
  color:#F4B350;
  text-decoration:underline;
  text-decoration-color:#F4B350;
  text-decoration-skip:ink;
}

h2, h3 {
  color:#333;
}

main {
  height:calc(100% - 60px);
  display:flex;
}

@media screen and (max-width:650px) {
  main {
    flex-direction:column-reverse;
  }
  #canvas-wrapper {
    max-height:50%;
  }
  .column:first-child {
    margin-right:50px;
  }
  .column:last-child {
    margin-left:50px;
  }
}

#settings {
  height:100%;
  flex-basis:0;
  flex-grow:1;
  overflow-y:auto;
  background:#ECECEC;
}

#buttons {
  text-align:center;
  padding-top:15px;
  padding-bottom:15px;
  background:#2ECC71;
  box-shadow:inset 0 2px 5px rgba(0, 0, 0, .5);
}

button {
  font-size:1em;
  font-family:'Roboto', sans-serif;
  background:white;
  padding:5px;
  margin:5px;
  border-top-left-radius:5px;
  border-bottom-right-radius:5px;
}

button:active {
  box-shadow:inset 0 -2px 2px grey;
}

#settings h2 {
  font-family:'Roboto', sans-serif;
  font-weight:500;
  margin:0;
  margin-top:10px;
  text-align:center;
}

#columns {
  text-align:center;
  padding-bottom:30px;
}

.column {
  display:inline-flex;
  flex-direction:column;
}

@media screen and (min-width:1140px) {
  .column:first-child {
    margin-right:5px;
  }
  .column:last-child {
    margin-left:5px;
  }
}

@media screen and (min-width:1300px) {
  .column:first-child {
    margin-right:20px;
  }
  .column:last-child {
    margin-left:20px;
  }
}

.setting {
  max-width:100px;
  width:100px;
  margin-top:10px;
}
.setting h3 {
  margin:0;
  font-family:'Roboto', sans-serif;
  font-weight:500;
  text-align:left;
}
.setting input {
  width:100%;
  border:1px solid #F4B350;
  padding:3px;
  font-size:1em;
  border-radius:2px;
}
input[type="color"] {
  border-color:rgba(0, 0, 0, .2);
}

#canvas-wrapper {
  flex-basis:0;
  flex-grow:4;
  min-width:0;
}

#canvas {
  display:block;
  width:100%;
  height:100%;
  margin:auto;
}
