body {
  margin:0;
  height:100vh;
}

header {
  height:80px;
  background:#4285f4;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
}

header img {
  width:55px;
  margin-right:20px;
}

#text {
  display:flex;
  flex-direction:column;
  align-items:center;
}

h1 {
  font-family:'Roboto', sans-serif;
  margin:0;
  color:#333;
  font-size:2em;
}
header a {
  font-family:'Roboto Slab', sans-serif;
  font-size:1.3em;
  color:#F4B350;
  text-decoration:underline;
  text-decoration-color:#F4B350;
  text-decoration-skip:ink;
}

.github-corner:hover .octo-arm {
  animation:octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
  0%,100% {transform:rotate(0)}
  20%,60% {transform:rotate(-25deg)}
  40%,80% {transform:rotate(10deg)}
}
@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation:none
  }
  .github-corner .octo-arm {
    animation:octocat-wave 560ms ease-in-out
  }
}

h2, h3 {
  color:#333;
}

h2 {
  font-size:1.6em;
}

h3 {
  font-size:1.3em;
}

main {
  height:calc(100% - 80px);
  display:flex;
}

#btn-regenerate, #btn-download {
  margin-bottom:15px;
  background-color:#4285f4;
}

@media screen and (max-width:650px) {
  header {
    justify-content:flex-start;
  }
  header img {
    margin-left:20px;
  }
  main {
    flex-direction:column-reverse;
  }
  #btn-download {
    display:none;
  }
  #canvas-wrapper {
    max-height:50%;
  }
  .column:first-child {
    margin-right:50px;
  }
  .column:last-child {
    margin-left:50px;
  }
}

#settings {
  height:100%;
  flex-basis:0;
  flex-grow:1;
  overflow-y:auto;
}

#buttons {
  text-align:center;
  padding-top:15px;
}

#settings h2 {
  font-family:'Roboto Slab', sans-serif;
  font-weight:500;
  margin:0;
  margin-top:15px;
  text-align:center;
}

#columns {
  text-align:center;
  padding-bottom:30px;
}

.column {
  display:inline-flex;
  flex-direction:column;
}

@media screen and (min-width:1140px) {
  .column:first-child {
    margin-right:5px;
  }
  .column:last-child {
    margin-left:5px;
  }
}

@media screen and (min-width:1300px) {
  .column:first-child {
    margin-right:20px;
  }
  .column:last-child {
    margin-left:20px;
  }
}

.setting {
  max-width:100px;
  width:100px;
  margin-top:15px;
}
.setting h3 {
  margin:0;
  font-family:'Roboto', sans-serif;
  font-weight:500;
  text-align:left;
}
.setting input {
  width:100%;
}

#canvas-wrapper {
  flex-basis:0;
  flex-grow:4;
  min-width:0;
}

#canvas {
  display:block;
  width:100%;
  height:100%;
  margin:auto;
}
