body {
  margin:0;
  height:100vh;
}

header {
  text-align:center;
  background:#4CAF50;
  height:60px;
  line-height:60px;
}

h1 {
  font-family:'Roboto', sans-serif;
  font-weight:500;
  margin:0;
  color:#212121;
}

main {
  height:calc(100% - 60px);
}

#settings {
  float:left;
  width:30%;
  height:100%;
  background:yellow;
}

#settings h2 {
  font-family:'Roboto', sans-serif;
  font-weight:500;
  margin:0;
  text-align:center;
  margin:10px;
}

#columns {
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}

#left {
  background:red;
}

#right {
  background:green;
}

.setting {
  margin:auto;
  display:table;
  padding:10px;
}
.setting h3 {
  margin:0;
  font-family:'Roboto', sans-serif;
  font-weight:500;
}
.setting input {
  width:94%;
}

#canvas {
  float:right;
  width:70%;
  height:100%;
}
